@import url("../fonts/HelveticaNeue/style.css");
@import url("../plugins/md-icon/style.css");
@import url("../plugins/font-awesome/css/font-awesome.min.css");
body { font-family: 'HelveticaNeueLight', sans-serif; font-size: 16px; color: #333; }

.font-ultralight { font-family: 'HelveticaNeueUltraLight', sans-serif; }

.font-thin { font-family: 'HelveticaNeueThin', sans-serif; }

.font-light { font-family: 'HelveticaNeueLight', sans-serif; }

.font-bold, .app-start .button-start { font-family: 'HelveticaNeueBold', sans-serif; }

.text-danger { color: #c0392b; }

.app-start { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #c0392b; transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; }
.app-start #desktop-icon { height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 50px); -webkit-transform: translate(-50%, 50px); opacity: 0; margin-top: -100px; transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; transition-delay: 500ms; -webkit-transition-delay: 500ms; }
.app-start #gear-icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, 50px); -webkit-transform: translate(-50%, 50px); opacity: 0; z-index: 2; margin-top: -100px; margin-left: -50px; transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; transition-delay: 600ms; -webkit-transition-delay: 600ms; }
.app-start #gear2-icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, 50px); -webkit-transform: translate(-50%, 50px); margin-top: -150px; margin-left: 50px; opacity: 0; transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; transition-delay: 700ms; -webkit-transition-delay: 700ms; }
.app-start h4 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, 50px); -webkit-transform: translate(-50%, 50px); color: #fff; font-size: 1.3em; text-align: center; opacity: 0; margin-top: -10px; transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; transition-delay: 800ms; -webkit-transition-delay: 800ms; }
.app-start .button-start { position: fixed; bottom: 100px; left: 50%; width: 50%; display: block; height: 40px; line-height: 40px; text-align: center; background: rgba(0, 0, 0, 0.1); color: #fff; border-radius: 50px; text-transform: uppercase; text-decoration: none !important; margin: 0 auto; font-size: .8em; outline: none !important; opacity: 0; transform: translate(-50%, 50px); -webkit-transform: translate(-50%, 50px); transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out; transition-delay: 800ms; -webkit-transition-delay: 800ms; overflow: hidden; }
.app-start .button-start:active { background: #217dbb; }
.app-start.in #desktop-icon, .app-start.in #gear-icon, .app-start.in #gear2-icon, .app-start.in h4 { transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); opacity: 1; transition-delay: 0ms; -webkit-transition-delay: 0ms; }
.app-start.in #gear2-icon { opacity: 0.5; }
.app-start.in #gear-icon, .app-start.in #gear2-icon { animation: rotate 4s linear infinite; -webkit-animation: rotate 4s linear infinite; animation-delay: 800ms; }
.app-start.in .button-start { opacity: 1; transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transition-delay: 0ms; -webkit-transition-delay: 0ms; }
.app-start.out { bottom: 50%; }
.app-start.out #desktop-icon, .app-start.out #gear-icon, .app-start.out #gear2-icon, .app-start.out .button-start, .app-start.out h4 { transform: translate(-50%, -100px); -webkit-transform: translate(-50%, -100px); opacity: 0; }

.app-header { height: 60px; line-height: 60px; background: #c0392b; color: #fff; position: fixed; top: 0; left: 0; right: 0; }
.app-header .btn { width: 60px; height: 60px; text-align: center; line-height: 50px; z-index: 999; font-size: 1.5em; color: #fff; display: block; position: absolute; text-decoration: none !important; background: none !important; outline: none !important; border: none !important; }
.app-header .btn.btn-left { left: 0; }
.app-header .btn.btn-right { right: 0; }
.app-header .app-title { position: absolute; top: 0; left: 60px; bottom: 0; right: 60px; text-align: center; white-space: nowrap; text-overflow: ellipsis; font-size: 1em; text-transform: capitalize; }

.app-content { position: fixed; top: 60px; left: 0; bottom: 0; right: 0; overflow: auto; background: #eee; }
.app-content:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 50%; margin-bottom: 30px; background: #c0392b; z-index: -1; }

.app-dashboard { position: fixed; top: 0; left: 0; bottom: 0; right: 0; }

.card { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); background: #fff; border-radius: 2px; -webkit-border-radius: 2px; margin-bottom: 15px; position: relative; animation: slideUp 300ms ease-out; -webkit-animation: slideUp 300ms ease-out; }
.card .card-heading { padding: 10px 15px; border-bottom: 1px solid #eee; }
.card .card-body { padding: 15px; }
.card.loading:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 9998; background: rgba(255, 255, 255, 0.9); }
.card.loading:after { content: ""; width: 50px; height: 50px; border: 5px solid #b6daf2; border-top: 5px solid #5faee3; border-radius: 50%; -webkit-border-radius: 50%; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); animation: rotate 1s linear infinite; -webkit-animation: rotate 1s linear infinite; z-index: 9999; }

.circliful { display: inline-block; position: relative; }
.circliful .circle-text { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

#sidebar-mobile { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 9999; visibility: hidden; }
#sidebar-mobile .sidebar-mobile-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.8); opacity: 0; transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; }
#sidebar-mobile .sidebar-mobile-content { position: absolute; top: 0; left: 0; bottom: 0; right: 60px; background: #1C1E2A; transform: translate(-100%, 0); -webkit-transform: translate(-100%, 0); transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-head { padding: 30px; text-align: center; color: #fff; background: rgba(0, 0, 0, 0.3); }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-head img { width: 30%; }
#sidebar-mobile .sidebar-mobile-content #jmc-footer { position: absolute; bottom: 0; left: 0; right: 0; padding: 30px; text-align: center; }
#sidebar-mobile .sidebar-mobile-content #jmc-footer img { margin: 0 auto; height: 20px; }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-menu { list-style: none; margin: 0; padding: 0; }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-menu li a { color: rgba(255, 255, 255, 0.7); border-bottom: 1px solid rgba(255, 255, 255, 0.05); display: block; padding: 0 30px; height: 60px; line-height: 60px; font-size: 15px; font-weight: medium; text-decoration: none !important; transition: all 300ms ease-out; position: relative; }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-menu li a .md { width: 60px; line-height: 60px; text-align: center; font-size: 1.2em; display: inline-block; background: rgba(0, 0, 0, 0.1); margin: 0 15px 0 -30px; padding: 0; }
#sidebar-mobile .sidebar-mobile-content .sidebar-mobile-menu li a:active { background: rgba(255, 255, 255, 0.1); }
#sidebar-mobile.active { visibility: visible; }
#sidebar-mobile.active .sidebar-mobile-overlay { opacity: 1; }
#sidebar-mobile.active .sidebar-mobile-content { transform: translate(0, 0); -webkit-transform: translate(0, 0); }

@keyframes slideUp { 0% { opacity: 0; transform: translate(0, 100px); }
  100% { opacity: 1; transform: translate(0, 0); } }
@-webkit-keyframes slideUp { 0% { opacity: 0; -webkit-transform: translate(0, 100px); }
  100% { opacity: 1; -webkit-transform: translate(0, 0); } }
@keyframes rotate { 0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); } }
@-webkit-keyframes rotate { 0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes gearRotate { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
@-webkit-keyframes gearRotate { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
