@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.eot');
    src: url('fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeue.woff2') format('woff2'),
         url('fonts/HelveticaNeue.woff') format('woff'),
         url('fonts/HelveticaNeue.ttf') format('truetype'),
         url('fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('fonts/HelveticaNeueUltraLight.eot');
    src: url('fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('fonts/HelveticaNeueThin.eot');
    src: url('fonts/HelveticaNeueThin.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueThin.woff2') format('woff2'),
         url('fonts/HelveticaNeueThin.woff') format('woff'),
         url('fonts/HelveticaNeueThin.ttf') format('truetype'),
         url('fonts/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('fonts/HelveticaNeueLight.woff') format('woff'),
         url('fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('fonts/HelveticaNeueBold.woff') format('woff'),
         url('fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}
